body {
	font-family: "Lexend Deca" !important;
}

h1, h3, h4, h5, h6 {
	font-size: 22px;
	font-weight: bold;
	pointer-events: none;
}

h2 {
	font-size: 50px;
	pointer-events: none;
}

p {
	font-size: 15px;
	font-weight: 100;
}

/*
#hamburger-menu-button {
	display: none;
	background: #528fbb;
	padding: 12px 16px;
	border-radius: 4px;
	transition-property: background, box-shadow;
	transition: 0.5s;
	-webkit-user-drag: none;
	margin: 12px 0px 0px 20px !important;
	color: white !important;
	text-decoration: none !important;
}

#hamburger-menu-button:hover {
	background: #60a6d8;
}

#hamburger-menu-button a {
	pointer-events: none;
}

div#hamburger-menu {
	display: none;
	background: #141924;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 0px;
	bottom: 0px;
	left: 66%;
	animation: slide-in-menu 0.2s;
	box-shadow: 0px 0px 20px 20px #00000040;
} */

.blurrytext {
	background: transparent;
	/* backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 6px; */
	background-color: #ffffff80;
	padding: 5px;
	border-radius: 10px;
	display: inline-block;
	pointer-events: none;
	flex: auto;
}

.blurrysubtext {
	background: transparent;
	/* -webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px); */
	background-color: #ffffff80;
	padding: 2px;
	border-radius: 7px;
	pointer-events: none;
}

#boldinfotop {
	font-style: italic;
}

/* cookie disclaimer */
#cookie-disclaimer-overlay {
	position: fixed;
	z-index: 1;
	height: calc(100% - 96px);
	width: 100%;
	pointer-events: none;
	display: none;
}

.cookie-disclaimer p {
	font-family: 'Lexend Deca';
	line-height: 1.3;
	font-size: 16px;
}

.cookie-disclaimer a {
	color: #417297;
	text-decoration: underline;
}

.cookie-disclaimer {
	padding: 20px;
	width: 400px;
	background: white;
	border-radius: 4px;
	float: right;
	position: sticky;
	top: calc(100vh - 190px);
	box-shadow: 2px 2px 5px 2px #0000002b;
	right: 20px;
	pointer-events: all;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.6s;
}

#cookie-consent {
	background: #6385ff;
	float: right;
	padding: 10px 20px;
	border-radius: 4px;
	margin-top: 10px;
	color: white;
	font-family: 'Nunito';
	transition: all 0.3s;
}

#cookie-consent:hover {
	cursor: pointer;
	background: #436af5;
	transition: 5ms;
	box-shadow: 0 0 6px 2px #00000020;
} 

.cloud-section {
	background: transparent;
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	background-color: #d9d9d957;
	pointer-events: none;
}

.container {
	padding: 50px 4%;
}

.container-top {
	padding: 35px 20%;
}

#container-boxen {
	background-color: rgb(241, 241, 241);
}

div#navigation {
    padding: 15px 6% 10px 6%;
    height: 60px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.logo69 {
	flex: auto;
	pointer-events: none;
}

#navigation p {
	color: #000000;
	font-family: 'Lexend Deca';
	font-size: 18px;
	cursor: pointer;
	float: right;
	margin: 24px 0px 24px 20px;
}

#navigation a {
	color: inherit;
	text-decoration: inherit;
	transition: 0.4s;
}

#navigation .selected {
	text-decoration-line: overline;
	text-decoration-thickness: 4px;
	text-decoration-color: #6385ff;
	color: #6385ff;
}

#navigation p:hover {
	text-decoration-line: overline;
	text-decoration-thickness: 2px;
	text-decoration-color: #528fba3d;
	color: #4a82ab;
}

.logo-nav {
	display: grid;

}

.logo-nav img {
	height: 38px;
	filter: drop-shadow(0px 2px 14px lightgray);
}

/* section 1 */

section.information-wScreen {
	display: flex;
	padding: 100px 6% 416px 6%;
	grid-template-columns: max-content;
	width: auto;
	height: auto;
	box-sizing: border-box;
	flex-direction: column;
	height: 116vh;
	justify-content: flex-end;
	/*background: url(./assets/_DSC9259.jpg); */
	background-position: center;
	background-size: cover;
	margin-bottom: -300px;
	transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.illustration1 {
	grid-column: 1;
	opacity: 1;
	height: 328px;
	/* width: 256px; */
	animation: slide-up 0.5s forwards 0.4s;
}
z
.illustration1 img {
	height: 100%;
	width: 100%;
}

.informational-text {
	grid-column: 2;
	padding: -1px 0px 0px 40px;
	opacity: 0;
	animation: slide-up 0.6s forwards 0.4s;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	backdrop-filter: blur(7px);
	margin-top: 5px;
	display: block;
	
}

.informational-text h2 {
	font-size: 40px;
}

.informational-text p {
	font-size: 15px;
	line-height: 1.6;
	/* margin-top: 10px; */
	color: #000000;
	backdrop-filter: blur(7px);
}

.information-wScreen .download-app {
	margin: 20px 0px 0px 0px;
}

/* section 2 (cloud) */

#cloud-section-blur {
	backdrop-filter: blur(5px);
}

.cloud-section .container {
	display: grid;
	grid-template-columns: 40% auto;
}

.cloud-section .container-top {
	display: grid;
	grid-template-columns: 40% auto;
	animation: slide-up 0.5s forwards 0.4s;
}

.title-cloud {
	grid-column: 1;
	opacity: 1;
	animation: slide-up 0.5s forwards 0.2s;
	animation-play-state: paused;
}

.title-cloud h2 {
	font-size: 28px;
	line-height: 1.3;
	border-left: 6px solid #6385ff;
	padding: 0px 0px 0px 16px;
}

.text-cloud {
	grid-column: 2;
	line-height: 1.8;
	padding: 0px 0px 0px 24px;
	opacity: 1;
	animation: slide-up 0.5s forwards 0.3s;
	animation-play-state: paused;
}

/* section 3 (info about functions in app) */

.features-section {
	background: #f9f9f9c2;
	pointer-events: none;
}

.feature-icon {
	margin-bottom: 20px;
}

.features-section .container {
	display: grid;
	text-align: center;
}

.features-section .container p {
	padding: 20px 40px 0px 40px;
	color: #4b5569;
	line-height: 1.5;
}

.features-section .container-top {
	display: grid;
	text-align: center;
}

.features-section .container-top p {
	padding: 10px 40px 0px 40px;
	color: #4b5569;
	line-height: 1.5;
}

.feature-0 {
	opacity: 0;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	pointer-events: none;
}

.feature-1 {
	grid-column: 1;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	pointer-events: none;
}

.feature-2 {
	grid-column: 2;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.5s;
	animation-play-state: paused;
	pointer-events: none;
}

.feature-3 {
	grid-column: 3;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.6s;
	animation-play-state: paused;
	pointer-events: none;
}

/* section 3 (info about functions in app) */

.features-section {
	background: #f9f9f9d6;
}

/* section 4 */

.features-wScreen-section {
	background-color: white;
	pointer-events: none;
}

.feature-wScreen {
	display: grid;
	margin: 0px 0px 100px 0px;
	line-height: 1.6;
}

.feature-screen {
	grid-column: 2;
	border-radius: 8px;
	overflow: hidden;
}

.screen1, .screen2, .screen3, .screen4 {
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	opacity: 0;
}

.desc1, .desc2, .desc3, .desc4 {
	animation: slide-up 0.5s forwards 0.5s;
	animation-play-state: paused;
	opacity: 0;
}

.feature-screen img {
	width: 100%;
	height: 100%;
}

.feature-screen:nth-child(odd) {
	grid-column: 1;
}

.feature-wScreen .content {
	grid-column: 2;
	padding: 10%;
	padding: 10%;
}

.feature-wScreen .content:nth-child(odd) {
	grid-column: 1;
	/* text-align: right; */
}


/* contact us */
.contact-title {
	padding: 10px 2%;
	border-left: 8px solid #6385ff;
	margin-left: 4%;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	opacity: 0;
}

.contact-title h2 {
	font-size: 36px;
	margin-bottom: 10px;
}

.contact-title p {
	font-size: 16px;
	max-width: 40%;
	line-height: 1.4;
	color: #4c4c4c;
}

.contact-section {
	background-color: #fff;
}

.contact-section form {
	padding: 50px 5% 100px 5%;
}

section#contact-us form {
	display: grid;
	grid-template-areas:
		"name surname"
		"telephone telephone"
		"email email"
		"object object"
		"description description"
		"button nothing";
	grid-gap: 10px;
}

section#contact-us form input, section#contact-us form textarea {
    padding: 10px 10px;
    background-color: #fafafa;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 6px;
    font-family: 'Nunito';
}

/* footer */
footer .container {
    background: #f2f2f2;
    color: #181818;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    margin-bottom: -82px;
}

footer h3 {
	font-weight: 100;
	margin-bottom: 10px;
}

footer p {
	font-size: 14px;
	line-height: 1.8;
	color: #747983;
	font-weight: 300;
	padding-right: 20px;
}

footer li {
	font-size: 13px;
	line-height: 2.4;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: "Lexend Deca", sans-serif;
	display: block;
}

footer a {
	color: #747983;
	text-decoration: none;
	font-size: 14px;
	transition: color 0.3s;
}

footer a:hover {
    color: #548bfb;
    text-decoration: none;
    font-size: 14px;
}

footer .container div {
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
}

.footer-info {
	grid-column: 1;
}

.footer-support {
	grid-column: 2;
}

.footer-social {
	grid-column: 3;
}

/* status indicator jira */
iframe {
	top: 100px !important;
}

/* Scrollbar */

::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border-radius: 0 !important;
	border: none !important;
	margin-top: 22px;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 50px !important;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #ffffff1e;
	border-radius: 10px !important;
	transition: 0.3s background ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffffff44;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.slide-up-animation {
	animation: slide-up 1s forwards;
}

.slide-up-animation-running {
	animation-play-state: running;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	10% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slide-in-menu {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	40% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes slide-out-menu {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(100px);
	}
}

@keyframes fadeinMenu {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeoutMenu {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}

	100% {
		transform: translateY(-50px);
		opacity: 0;
	}
}

/* responsive design */
/*
@media only screen and (max-width: 940px) {
	footer .container {
		grid-template-columns: auto;
		padding: 20px 2% 60px 2%;
	}

	.logo-nav img {
		height: 28px;
		filter: drop-shadow(0px 6px 14px gray);
	}

	#hamburger-menu-button {
		display: block;
		margin: 4px 0px 0px 20px !important;
	}

	element.style {
		display: none;
		animation-name: slide-out-menu;
	}

	div#hamburger-menu {
		left: 30%;
	}
}


#hamburger-menu-button {
	display: none;
	background: #528fbb;
	padding: 12px 16px;
	border-radius: 4px;
	transition-property: background, box-shadow;
	transition: 0.5s;
	-webkit-user-drag: none;
	margin: 12px 0px 0px 20px !important;
	color: white !important;
	text-decoration: none !important;
}

#hamburger-menu-button:hover {
	background: #60a6d8;
}

#hamburger-menu-button a {
	pointer-events: none;
}

div#hamburger-menu {
	display: none;
	background: #141924;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 0px;
	bottom: 0px;
	left: 66%;
	animation: slide-in-menu 0.2s;
	box-shadow: 0px 0px 20px 20px #00000040;
}

.ham-item {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #222835;
    color: #d5dff1;
    text-decoration: none;
    transition: background 0.3s;
} */

@media only screen and (max-width: 940px) {
	.nav-item {
		display: none !important;
	}

	section.information-wScreen {
		display: grid;
		padding: 100px 2%;
		grid-template-columns: auto;
		width: 100%;
		box-sizing: border-box;
	}

	.informational-text {
		grid-column: 1;
		padding: 40px 4% 0px 4%;
		text-align: center;
	}

	.illustration1 {
		grid-column: 1;
		margin: 0px 26%;
	}

	input:active {
		font-size: 100%;
	}
}

@media only screen and (max-width: 850px) {
	.illustration1 {
		margin: 0px 16%;
	}

	.cloud-section .container {
		display: grid;
		grid-template-columns: auto;
	}

	.text-cloud {
		grid-column: 1;
		padding: 40px 0px 0px 24px;
	}

	.feature-1, .feature-2, .feature-3 {
		grid-column: 1;
		padding: 20px 0px;
	}

	.feature-wScreen:nth-child(odd) {
		display: grid;
		margin: 0px 0px 100px 0px;
		line-height: 1.6;
		grid-template-columns: 278px auto;
	}

	.feature-wScreen {
		grid-template-columns: auto 278px;
	}

	.feature-screen {
		height: 278px;
	}

	footer .container {
		grid-template-columns: 50% 50%;
	}

	.footer-info {
		display: none;
	}

	.footer-links {
		grid-column: 1;
	}

	.footer-support {
		grid-column: 2;
	}

	.footer-social {
		grid-row: 2;
		grid-column: 1/3;
	}
}

@media only screen and (max-width: 650px) {
	.container {
		padding: 50px 2%;
	}

	.feature-wScreen, .feature-wScreen:nth-child(odd) {
		grid-template-columns: auto;
	}

	.feature-screen, .feature-wScreen .content {
		grid-column: 1;
	}

	.feature-screen:nth-child(odd) {
		grid-column: 1;
	}

	.feature-wScreen .content:nth-child(odd) {
		grid-row: 2;
	}

	.feature-wScreen .content {
		padding: 10% 10% 0% 10%;
	}

	.feature-screen {
		height: auto;
		margin: 0% 20%;
	}
}

@media only screen and (max-width: 570px) {
	footer .container {
		grid-template-columns: auto;
		padding: 20px 2% 60px 2%;
	}

	.logo-nav img {
		height: 28px;
		filter: drop-shadow(0px 6px 14px gray);
	}

}

@media only screen and (max-width: 450px) {
	.cookie-disclaimer {
		width: 100%;
		box-sizing: border-box;
		top: calc(100vh - 169px);
		padding-top: 25px;
		border-radius: 15px 15px 0px 0px;
	}
}

@media only screen and (max-width: 360px) {
	.logo-nav img {
		height: 22px;
	}

	#navigation p {
		font-size: 13px;
		margin: 0px 0px 0px 0px !important;
	}

	.feature-screen {
		height: auto;
		margin: 0% 8%;
	}

	.footer-support {
		grid-column: 1;
		grid-row: 2;
	}

	.footer-social {
		grid-column: 1;
		grid-row: 3;
	}

	footer h3 {
		margin-top: 30px;
	}
}

/* Slideshow container/costumers */
.feature-kunde {
		display: flex;
		flex-wrap: wrap;
		gap: 45px;
		justify-content: center;
		align-content: center;
		margin: 20px 0px 20px 0%;
		padding: 6px 40px;
		box-sizing: border-box;
		transition: 0.2s;
}

#feature-kunde {
	width: 25vw;
	border-radius: 5%;
	box-shadow: 5px 5px 5px rgb(163, 168, 173);
}

.slideshow-container {
	position: relative;
	background: #fffffff1;
  }
  
  .mySlides {
	display: none;
	padding: 45px 25%;
	text-align: center;
	pointer-events: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    margin-left: 250px;
    padding: 13px;
    color: rgba(136, 136, 136, 0.622);
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    user-select: none;
}
  
  .next {
	position: absolute;
	right: 0;
	border-radius: 10px;
	margin-right: 250px;
  }
  
  .prev:hover, .next:hover {
	background-color: rgba(96, 96, 96, 0.45);
	color: white;
	transition: 0.3s;
  }

  q {font-style: italic;}
  .author {
	color: rgb(0, 28, 81);
	font-weight: bold;
	font-size: large;
	margin-top: 10px;
}

.certificates {
    align-items: flex-start;
	animation: slide-up 0.5s;
}

.certificates h1 {
    font-size: 3em;
    margin: 0px 0px 10px 0%;
	text-align: center;
}

.certificates p {
    margin: 15px 0px 5px 0%;
	text-align: center;
}

.certificate-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    align-content: center;
    margin: 20px 0px 150px 0%;
    padding: 0px 40px;
    box-sizing: border-box;
}

.certificate-container div {
    height: 15vw;
    min-height: 260px;
    overflow: hidden;
    border-radius: 6px;
    text-align: center;
}

.certificate-container h2 {
    position: relative;
    top: 0px;
    z-index: 1;
    transition: all 0.2s;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #e4e8fe;
    font-weight: bold;
    font-size: 17px;
}

.certificate-container a {
    position: relative;
    top: 0px;
    z-index: 1;
    transition: all 0.3s;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 2px;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background: #4b8aff26;
}

.certificate-container a:hover {
    filter: brightness(2);
    color: white;
    background: #023ee3b7;
    box-shadow: 0px 0px 0px 4px inset var(--primary-color);
}

.certificate-container div img {
    height: 100%;
    transition: filter 0.3s;
}

.costumers-section {
	background-color: rgb(255, 255, 255);
	padding: 65px 0px 1px;
	margin: 0px 0px 65px 0px;
}

button#send-mail {
	width: min-content;
	background: #6385ff;
	border: 0px;
	padding: 12px 40px;
	font-size: 20px;
	border-radius: 6px;
	color: white;
}

/* animate screenshots */
@keyframes float {
    0% {}

    50% {}

    100% {}
}

/* projects end */
@keyframes selector {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes expand-cta {
    0% {
        margin: 0px 0px 0px 0px;
    }

    20% {
        margin: 0px 10px 0px 10px;
    }

    60% {
        margin: 0px 0px 0px 0px;
    }
}

.vl {
	border-left: 6px dotted rgb(0, 1, 67);
	height: 50px;
	left: 50%;
	margin-left: -3px;
	padding-bottom: 20px;
	top: 0;
	position: relative;
  }