body {
	font-family: "Lexend Deca" !important;
	z-index: -1;
}

h1, h3, h4, h5, h6 {
	font-size: 23px;
	font-weight: 900;
	pointer-events: none;
}

h2 {
	font-size: 50px;
	pointer-events: none;
}

p {
	font-size: 16px;
	font-weight: 100;
}

#boldinfotop {
	font-style: italic;
	font-size: 32px;
	font-weight: bold;
	padding-top: 42px;
	color: #000000;
}

#infotoptext {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

/* cookie disclaimer */
#cookie-disclaimer-overlay {
	position: fixed;
	z-index: 3;
	height: calc(100% - 96px);
	width: 100%;
	pointer-events: none;
	display: none;
}

.cookie-disclaimer p {
	font-family: 'Lexend Deca';
	line-height: 1.3;
	font-size: 16px;
}

.cookie-disclaimer a {
	color: #417297;
	text-decoration: underline;
}

.cookie-disclaimer {
	padding: 20px;
	width: 400px;
	background: white;
	border-radius: 4px;
	float: right;
	position: sticky;
	top: calc(100vh - 190px);
	box-shadow: 2px 2px 5px 2px #0000002b;
	right: 20px;
	pointer-events: all;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.6s;
}

#cookie-consent {
	background: #6385ff;
	float: right;
	padding: 10px 20px;
	border-radius: 4px;
	margin-top: 10px;
	color: white;
	font-family: 'Nunito';
	transition: all 0.3s;
}

#cookie-consent:hover {
	cursor: pointer;
	background: #436af5;
	transition: 5ms;
	box-shadow: 0 0 6px 2px #00000020;
} 

.cloud-section {
	background: transparent;
}

.container {
	padding: 50px 7%;
}

.container-logo {
	display: grid;
	padding: 50px 4%;
	background-color: rgba(241, 241, 241, 0.262);
	position: relative;
	z-index: 1;

}

.backgroundimgtop {
	background-image: url(../assets/istockphoto-1244945104-1024x1024.jpeg);
	background-position: center;
	background-size: auto;
	filter: blur(6px);
	backdrop-filter: blur(6px);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container-top {
	padding: 35px 28%;
}

#container-boxen {
	background-color: rgb(241, 241, 241);
}

/*
div#navigation {
    padding: 10px 6% 10px 6%;
    height: 60px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 90%;
    background-color: rgb(250 250 250 / 75%);
    backdrop-filter: blur(10px);
} */

.scroll-div {
    padding: 10px 6% 10px 6%;
    height: 60px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 90%;
    background-color: rgba(250, 250, 250, 45%);
	transition: background-color 0.3s ease-out, backdrop-filter 0.3s ease-out;
	backdrop-filter: blur(0px);
}

.logo69 {
	flex: auto;
	opacity: 0;
}

#navigation p {
	color: #000000;
	font-family: 'Lexend Deca';
	font-size: 18px;
	cursor: pointer;
	float: right;
	margin: 24px 0px 24px 20px;
}

#navigation a {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
	transition: 0.4s;
}

#navigation .selected {
	text-decoration-line: overline;
	text-decoration-thickness: 4px;
	text-decoration-color: #2F58CD;
	color: #2F58CD;
}

#navigation p:hover {
	text-decoration-line: overline;
	text-decoration-thickness: 2px;
	text-decoration-color: #528fba3d;
	color: #6385ff;
}

.logo-nav {
	display: grid;
}

.logo-nav img {
	height: 50px;
}

.logo420 {
	height: 15vh;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.4s;
}

/* section 1 */
section.information-wScreen {
	display: flex;
	grid-template-columns: max-content;
	width: auto;
	height: auto;
	box-sizing: border-box;
	flex-direction: column;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: cover;
	transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.illustration1 img {
	height: 100%;
	width: 100%;
}

.informational-text {
	grid-column: 2;
	padding: -1px 0px 0px 40px;
	opacity: 0;
	animation: slide-up 0.6s forwards 0.4s;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	margin-top: 5px;
	display: block;
	
}

.informational-text h2 {
	font-size: 40px;
}

.informational-text p {
	font-size: 15px;
	line-height: 1.6;
	color: #000000;

}

/* section 2 (cloud) */
.cloud-section .container-top {
	display: grid;
	grid-template-columns: 40% auto;
	animation: slide-up 0.5s forwards 0.4s;
}

.title-cloud {
	grid-column: 1;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.2s;
	animation-play-state: paused;
}

.title-cloud h2 {
	font-size: 42px;
	line-height: 1.3;
	border-left: 6px solid #6385ff;
	padding: 0px 0px 0px 16px;
}

.text-cloud {
	animation: slide-up 0.5s forwards 0.3s;
	opacity: 0;
	animation-play-state: paused;
	vertical-align: middle;
	text-align: justify;
	font-size: 30px;
	padding: 1px 34px;
}

/* section 3 */
.features-section {
	background: #f9f9f9c2;
}

.feature-icon-top {
	margin-bottom: 20px;
	margin-top: 80px;
	scale: 10vw;
	
}
.feature-icon {
	margin-bottom: 20px;
	scale: 10vw;
}

.features-section .container {
	display: grid;
	text-align: center;
}

.features-section .container p {
	padding: 20px 40px 0px 40px;
	color: #4b5569;
	line-height: 1.5;
}

.features-section .container-top {
	display: grid;
	text-align: center;
}

.features-section .container-top p {
	padding: 10px 40px 0px 40px;
	color: #414a5c;
	line-height: 1.5;
}


.feature-00 {
	grid-column: 2;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	pointer-events: none;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
	margin-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
}

.feature-0 {
	opacity: 0;
	animation: slide-up 0.6s forwards 0.4s;
	animation-play-state: paused;
	pointer-events: none;
	padding-top: 20px;
}

.feature-1 {
	grid-column: 1;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	pointer-events: none;
}

.feature-2 {
	grid-column: 2;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.5s;
	animation-play-state: paused;
	pointer-events: none;
}

.feature-3 {
	grid-column: 3;
	opacity: 0;
	animation: slide-up 0.5s forwards 0.6s;
	animation-play-state: paused;
	pointer-events: none;
}

.mehrlesen {
	opacity: 0;
	animation: slide-up 0.5s forwards 0.3s;
	animation-play-state: paused;
}

/* section 4 */
.features-wScreen-section {
	background-color: white;
	pointer-events: none;
}

.feature-wScreen {
	display: grid;
	margin: 0px 0px 70px 0px;
	line-height: 1.6;
}

.feature-wScreen p {
	color: #2a3039;
	text-align: justify;
}

.feature-screen {
	grid-column: 2;
	border-radius: 8px;
	overflow: hidden;
}

.screen1, .screen2, .screen3, .screen4 {
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	opacity: 0;
}

.desc1, .desc2, .desc3, .desc4 {
	animation: slide-up 0.5s forwards 0.5s;
	animation-play-state: paused;
	opacity: 0;
}

.desc5 {
	animation: slide-up 0.6s forwards 0.8s;
	animation-play-state: paused;
	opacity: 0;
}

#textconclusion {
	font-size: 19px;
	background-color: rgb(228, 231, 241);
	padding: 35px;
	border-radius: 10px;
	border: #4b5569;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	text-align: justify;
	pointer-events: none;
}

#picgarantie {
width: 25vh;
padding-right: 15px;
object-fit: contain;
}

.feature-screen img {
	width: 100%;
	height: 100%;
}


.feature-screen:nth-child(odd) {
	grid-column: 1;
}

.feature-wScreen .content {
	grid-column: 2;
	padding-left: 15%;
	padding-right: 15%;
}

.feature-wScreen .content-conclusion {
	grid-column: 2;
	padding-left: 17%;
	padding-right: 17%;
}

.feature-wScreen .content:nth-child(odd) {
	grid-column: 1;
}

#morebutton {
	text-align: center;
	font-weight: bold;
	background-color: rgb(241, 241, 241);
	padding-bottom: 20px;
}

#headerarbeitsweise {
	font-size: 49px;
}
/* contact us */
.contact-title {
	padding: 10px 2%;
	border-left: 8px solid #6385ff;
	margin-left: 4%;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
	opacity: 0;
}

.contact-form {
	opacity: 0;
	animation: slide-up 0.7s forwards 0.4s;
	animation-play-state: paused;
}

.contact-title h2 {
	font-size: 36px;
	margin-bottom: 10px;
}

.contact-title p {
	font-size: 16px;
	max-width: 40%;
	line-height: 1.4;
	color: #4c4c4c;
}

.contact-section {
	background-color: #fff;
	padding-top: 10px;
}

.contact-section form {
	padding: 50px 5% 100px 5%;
}

section#contact-us form {
	display: grid;
	grid-template-areas:
		"name surname"
		"telephone telephone"
		"email email"
		"object object"
		"description description"
		"button nothing";
	grid-gap: 10px;
}

section#contact-us form input, section#contact-us form textarea {
    padding: 10px 10px;
    background-color: #fafafa;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 6px;
    font-family: 'Nunito';
}

/* footer */
footer .container {
    background: #f2f2f2;
    color: #181818;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    margin-bottom: -82px;
}

footer h3 {
	font-weight: 100;
	margin-bottom: 10px;
}

footer p {
	font-size: 14px;
	line-height: 1.8;
	color: #747983;
	font-weight: 300;
	padding-right: 20px;
}

footer li {
	font-size: 13px;
	line-height: 2.4;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: "Lexend Deca", sans-serif;
	display: block;
}

footer a {
	color: #747983;
	text-decoration: none;
	font-size: 14px;
	transition: color 0.3s;
}

footer a:hover {
    color: #548bfb;
    text-decoration: none;
    font-size: 14px;
}

footer .container div {
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
}

.footer-info {
	grid-column: 1;
}

.footer-support {
	grid-column: 2;
}

.footer-social {
	grid-column: 3;
}

/* status indicator jira */
iframe {
	top: 100px !important;
}

/* Scrollbar */

::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border-radius: 0 !important;
	border: none !important;
	margin-top: 22px;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 50px !important;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #ffffff1e;
	border-radius: 10px !important;
	transition: 0.3s background ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffffff44;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/* Slideshow container/costumers */
.feature-kunde {
	display: flex;
		flex-wrap: wrap;
		gap: 45px;
		justify-content: center;
		align-content: center;
		margin: 20px 0px 20px 0%;
		padding: 6px 40px;
		box-sizing: border-box;
		transition: 0.2s;
	}
	
	
	#feature-kunde {
		width: 25vw;
		border-radius: 4%;
		transition: 0.4s;
	}
	
	#feature-kunde:hover {
		border-radius: 7%;
		transform: scale(1.08);
		transition: 1.4s ease;
		transition-property: transform, border-radius, box-shadow;

	}

.headerkunden {
	opacity: 0;
	animation: slide-up 0.4s forwards 0.4s;
	animation-play-state: paused;
}

.headerunserekunden {
	opacity: 0;
	text-align: center;
	font-size: 4vh;
	animation: slide-up 0.4s forwards 0.4s;
	animation-play-state: paused;
}

.review-slider {
	opacity: 0;
	animation: slide-up 0.5s forwards 0.4s;
	animation-play-state: paused;
}

.review-slide {
	display: none;
	opacity: 0;
	transition: .5s;
}

.review-slide.active {
	display: block;
    opacity: 1;
	animation: fade-in-customer 1.4s ease-in-out;
	transition: opacity 1.4s ease-in-out 1.4s;
  }

  figure.snip1390 {
	font-family: inherit;
	margin: 5% 33%;
	min-height: 550px;
	color: #000000;
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	background-color: #2a3039;
	padding: 30px;
	background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: 1.6s ease;
  }

  .snip1390:hover {
	border-radius: 14px;
	transform: scale(1.05);
	transition: 1.6s ease;
	transition-property: transform, border-radius;
  }
  figure.snip1390 *,
  figure.snip1390 *:before,
  figure.snip1390 *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
  }
  figure.snip1390 figcaption {
	width: 100%;
  }
  figure.snip1390 h2,
  figure.snip1390 h4,
  figure.snip1390 blockquote {
	margin: 0;
  }
  figure.snip1390 h2,
  figure.snip1390 h4 {
	font-weight: 300;
  }
  figure.snip1390 h2 {
	color: #ffffff;
  }
  figure.snip1390 h4 {
	color: #a6a6a6;
  }
  figure.snip1390 blockquote {
	font-size: 1em;
	padding: 45px 20px 40px 50px;
	margin-top: 30px;
	background-color: rgb(241, 241, 241);
	border-radius: 5px;
	box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
	text-align: left;
	position: relative;
  }
  figure.snip1390 blockquote:before {
	font-family: 'FontAwesome';
	content: "\201C";
	position: absolute;
	font-size: 70px;
	opacity: 0.25;
	font-style: normal;
	top: 0px;
	left: 20px;
  }
  figure.snip1390 .profile {
	width: 40%;
	border-radius: 5%;
	display: inline-block;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
	margin-bottom: 10px;
	border: solid 4px #4b5569
  }
  
@keyframes fade-in-customer {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

q {font-style: italic;}
.author {
	color: rgb(0, 28, 81);
	font-weight: bold;
	font-size: large;
	margin-top: 10px;
}

.certificates {
	align-items: flex-start;
	animation: slide-up 0.5s;
	padding-top: 55px;
	background-color: rgb(241, 241, 241);
}

.certificates h1 {
	font-size: 3em;
    margin: 0px 0px 10px 0%;
	text-align: center;
}

.certificates p {
	margin: 15px 0px 5px 0%;
	text-align: center;
}

.certificate-container {
	display: flex;
    width: 100vw;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    align-content: center;
    margin: 20px 0px 120px 0%;
    padding: 0px 40px 130px 40px;
    box-sizing: border-box;
	opacity: 0;
	animation: slide-up 0.4s forwards 0.4s;
	animation-play-state: paused;
}

.certificate-container div {
	height: 15vw;
    min-height: 260px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.certificate-container h2 {
	position: relative;
    top: 0px;
    z-index: 1;
    transition: all 0.2s;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #e4e8fe;
    font-weight: bold;
    font-size: 17px;
}

.certificate-container a {
	position: relative;
    top: 0px;
    z-index: 1;
    transition: all 0.3s;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 2px;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background: #4b8aff26;
}

.certificate-container a:hover {
	filter: brightness(2);
    color: white;
    background: #023ee3b7;
    box-shadow: 0px 0px 0px 4px inset var(--primary-color);
}

.certificate-container div img {
	height: 100%;
    transition: filter 0.3s;
}

.costumers-section {
	background-color: rgb(255, 255, 255);
	padding: 65px 0px 1px;
}

button#send-mail {
	width: min-content;
	background: #6385ff;
	border: 0px;
	padding: 12px 40px;
	font-size: 20px;
	border-radius: 6px;
	color: white;
}

/* animate screenshots */
@keyframes float {
	0% {}
	
    50% {}
	
    100% {}
}


.vl {
	border-left: 6px dotted rgb(0, 1, 67);
	height: 50px;
	left: 50%;
	margin-left: -3px;
	padding-bottom: 20px;
	top: 0;
	position: relative;
}

/* projects end */
@keyframes selector {
	0% {
		opacity: 1;
	}
	
	50% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes expand-cta {
	0% {
		margin: 0px 0px 0px 0px;
	}
	
	20% {
		margin: 0px 10px 0px 10px;
	}
	
	60% {
		margin: 0px 0px 0px 0px;
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	10% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slide-in-menu {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	40% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes slide-out-menu {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(100px);
	}
}

@keyframes fadeinMenu {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeoutMenu {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}

	100% {
		transform: translateY(-50px);
		opacity: 0;
	}
}

/* responsive design */

@media only screen and (max-width: 940px) {
	.nav-item {
		display: none !important;
	}

	/*
	section.information-wScreen {
		display: grid;
		padding: 100px 2%;
		grid-template-columns: auto;
		width: 100%;
		box-sizing: border-box;
	} */

	.informational-text {
		grid-column: 1;
		padding: 40px 4% 0px 4%;
		text-align: center;
	}

	.illustration1 {
		grid-column: 1;
		margin: 0px 26%;
	}

	input:active {
		font-size: 100%;
	}
}

@media only screen and (max-width: 850px) {
	.illustration1 {
		margin: 0px 16%;
	}

	.feature-1, .feature-2, .feature-3 {
		grid-column: 1;
		padding: 20px 0px;
	}

	.feature-wScreen:nth-child(odd) {
		display: grid;
		margin: 0px 0px 100px 0px;
		line-height: 1.6;
		grid-template-columns: 278px auto;
	}

	.feature-wScreen {
		grid-template-columns: auto 278px;
	}

	.feature-screen {
		height: 278px;
	}

	footer .container {
		grid-template-columns: 50% 50%;
	}

	.footer-info {
		display: none;
	}

	.footer-links {
		grid-column: 1;
	}

	.footer-support {
		grid-column: 2;
	}

	.footer-social {
		grid-row: 2;
		grid-column: 1/3;
	}
}

@media only screen and (max-width: 650px) {
	.container {
		padding: 50px 2%;
	}

	.feature-wScreen, .feature-wScreen:nth-child(odd) {
		grid-template-columns: auto;
	}

	.feature-screen, .feature-wScreen .content {
		grid-column: 1;
	}

	.feature-screen:nth-child(odd) {
		grid-column: 1;
	}

	.feature-wScreen .content:nth-child(odd) {
		grid-row: 2;
	}

	.feature-wScreen .content {
		padding: 10% 10% 0% 10%;
	}

	.feature-screen {
		height: auto;
		margin: 0% 20%;
	}
}

@media only screen and (max-width: 570px) {
	footer .container {
		grid-template-columns: auto;
		padding: 20px 2% 60px 2%;
	}

	.logo-nav img {
		height: 28px;
		filter: box-shadow(1px 5px 10px);
	}

}

@media only screen and (max-width: 450px) {
	.cookie-disclaimer {
		width: 100%;
		box-sizing: border-box;
		top: calc(100vh - 169px);
		padding-top: 25px;
		border-radius: 15px 15px 0px 0px;
	}
}

@media only screen and (max-width: 360px) {
	.logo-nav img {
		height: 22px;
	}

	#navigation p {
		font-size: 13px;
		margin: 0px 0px 0px 0px !important;
	}

	.feature-screen {
		height: auto;
		margin: 0% 8%;
	}

	.footer-support {
		grid-column: 1;
		grid-row: 2;
	}

	.footer-social {
		grid-column: 1;
		grid-row: 3;
	}

	footer h3 {
		margin-top: 30px;
	}
}

.slide-up-animation {
	animation: slide-up 1s forwards;
}

.slide-up-animation-running {
	animation-play-state: running;
}